*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    border: 1px solid white;
    margin: 0;
    padding: 0;
    background-image: url(images/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.nav{
    /* border: 1px solid white; */
    width: 80%;
    height: 70px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.logo{
    width: 170px;
    height: 50px;
}

.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.lang{
    border: 1px solid gray;
    border-radius: 5px;
    width: 130px;
    height: 32px;
    background-color: transparent;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: lighter;
}

.lang span{
    font-size: 1.3rem;
    color: white;
}

.lang select{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 5px;
}

.lang option{
    background-color: white;
    color: black;
    font-size: 1rem;
    /* padding: 110px 120px; */
}

.sign{
    border: 1px solid   red;
    background-color: rgb(255, 5, 5);
    color: rgb(255, 255, 255);
    width: 110px;
    height: 32px;
    border-radius: 5px;
    font-size: 1.1rem;
}

/* details */

.details{
    width: 80%;
    height: 500px;
    margin: auto;
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-1{
    font-size: 2.5rem;
}

@media (max-width: 600px) {
    .nav{
        width: 85%;
        padding-top: 15px;
    } 
    .logo{
        width: 100px;
        height: 30px;
    }

    .lang{
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lang span{
        display: none;
    }

     .lang select{
        font-size: .8rem;
        padding: 1px;
     }
    .sign{
        width: 70px;
        height: 30px;
        font-size: .8rem;
    }
 }
