*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* border: 1px solid white; */
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(images/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.nav{
    /* border: 1px solid white; */
    width: 80%;
    height: 70px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}

.logo{
    width: 170px;
    height: 50px;
}

.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.lang{
    border: 1px solid gray;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    background-color: transparent;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.lang span{
    font-size: 1rem;
    color: white;
}

.lang select{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    appearance: none;
    padding: 7px;
}

.lang option{
    background-color: white;
    color: black;
    font-size: 1rem;
    /* padding: 110px 120px; */
}

.sign{
    border: 1px solid   red;
    width: 80px;
    height: 32px;
    background-color: rgb(255, 5, 5);
    color: white;
    border-radius: 5px;
    font-size: .9rem;
}

/* details */

.details{
    width: 80%;
    height: 800px;
    margin: auto;
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.details-1{
    font-size: 3.2rem;
}

.details-2{
    font-size: 1.2rem;
    color: #dfdfdf;
    padding-bottom: 40px;
}


.details-3{
    color: #dfdfdf;
    font-size: 1.2rem;
}

.email-btn{
    display: flex;
    gap: 8px;
}

.email{
    background-color: transparent;
    border: 1px solid grey;
    padding: 25px;
    width: 380px;
    height: 3px;
    border-radius: 5px;
}

.email::placeholder{
    color: #dfdfdf;
    font-size: 1.1rem;
}

.email-btn button{
    width: 170px;
    height: 3px;
    padding: 26.5px 5px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: red;
    font-size: 1.3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.line{
    width: 100%;
    padding: 4px;
    background-color: red;
    z-index: 2;
    position: relative;
}


@media (max-width: 600px) {
    .nav{
        width: 85%;
        padding-top: 15px;
    } 
    .logo{
        width: 100px;
        height: 30px;
    }

    .lang{
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lang span{
        display: none;
    }

     .lang select{
        font-size: .8rem;
        padding: 2px;
     }
    .sign{
        width: 60px;
        height: 32px;
        font-size: .8rem;
    }
 }
